body {
  font-family: "Barlow Semi Condensed", sans-serif;
}
h3 {
  font-size: 18px;
}
ul {
  list-style: none;
  color: #7a7b7d;
  text-align: center;
}

small {
  font-size: 11px;
}

.weather-app-wrap {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  background: #d1f0ee;
  padding: 15px;
  padding-bottom: 0;
  border-radius: 10px;
  box-sizing: border-box;
}

.current-time {
  font-size: 19px;
}

.card {
  background: #d1f0ee;
  border: none;
  padding: 30px 20px;
}
.col-4 {
  padding: 0;
  width: 500px;
}
.col-6 {
  text-align: center;
}
.current-weather-img {
  width: 80px;
  padding: 10px 0;
}
.weather-img {
  width: 40px;
}
.today {
  font-weight: 600;
  font-size: 18px;
  background: #5ac8c1;
  border-radius: 10px;
}

#search-button,
#current-location {
  background: #5ac8c1;
  border: 1mm solid #5ac8c1;
  margin: 1px;
}
#current-city {
  padding-left: 0;
}
#search {
  padding: 50px 0 0px 50px;
}
#current-conditions,
#current-city {
  color: #7a7b7d;
  text-align: center;
}
#current-conditions {
  padding-top: 30px;
  max-width: 480px;
}
#five-days-forecast {
  background: #bbe9e6;
  border: 1mm solid #bbe9e6;
  border-radius: 10px;
}
#weather-of-the-day {
  padding: 10px 15px 0 0;
}
#day-weather {
  padding: 0;
}

#weather-of-the-day .active {
  color: #7a7b7d;
  cursor: default;
}

#weather-of-the-day .active:hover {
  text-decoration: none;
}
